{% extends 'base.html.twig' %}

{% block title %}Hello AnnonceController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello ! ✅</h1>

    {#TODO : un tableau de A à Z grace à range() #}

    {% set alphabet =range('A', 'Z')%}
    {% for lettre in alphabet %}
        {{ lettre | lower }}
    {% endfor %}

    {% set tableau = ['1', 2, 'test'] %}

    {% for language in languages %}

        {# {{ random(language) }}
     {{ language.language }}<br>
         {{ language.version }}<br/>#}
    {% endfor %}<br/>

    <p>Date du jour : {{  date }} </p><br/>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'D:/wamp64/www/symfony_premier_cours/my_project_name/src/Controller/AnnonceController.php'|file_link(0) }}">src/Controller/AnnonceController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'D:/wamp64/www/symfony_premier_cours/my_project_name/templates/annonce/index.html.twig'|file_link(0) }}">templates/annonce/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
